doctype html
html
    head
        title chart properties

        style(type="text/css").
             .keyvalue {
                 display: inline-block;
             }

    body
        h2 Chart Properties:
        script(type="text/javascript" src='/editChartProperties.js')
