doctype html
html
    head
        title chart properties

        style(type="text/css").
             .key_value {
                 width: 100%;
                 margin-left: 25px;
             }

             #local_container {
                 margin-left: 25px;
             }

    body
        h2 Chart Properties:
        script(type="text/javascript" src='/editChartProperties.js')
