doctype html
html
    head
        title chart properties

        style(type="text/css").
             .keyvalue {
                 display: inline-block;
                 text-align: left;
             }

             #global_container {
                 margin-left: 25px;
             }

    body
        h2 Chart Properties:
        script(type="text/javascript" src='/editChartProperties.js')
