doctype html
html
    head
        title view
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        script(src='https://cdn.jsdelivr.net/npm/luxon')
        script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon')
    body
        div(class='container')
            script(type="text/javascript" src='/HourStackChart.js' range=range)
